{{#vertical-timeline as |timeline|}}

  {{#timeline.block as |block|}}
    {{block.image class="green-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="red-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="yellow-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="green-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="red-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="yellow-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="green-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="red-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="yellow-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

{{/vertical-timeline}}

<hr>

{{#vertical-timeline as |timeline|}}

  {{#timeline.block as |block|}}
    {{block.image class="green-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="red-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="yellow-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="green-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="red-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="yellow-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="green-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="red-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image class="yellow-timeline-pill"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
         dolorum provident rerum aut hic quasi placeat iure tempora laudantium
         ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
       <a href="#0" class="cd-read-more">Read more</a>
      {{#content.date}}Jan 14{{/content.date}}
    {{/block.content}}
  {{/timeline.block}}

{{/vertical-timeline}}
