{{#vertical-timeline id="cd-timeline" as |timeline|}}

  {{#timeline.block as |block|}}
    {{#block.image backgroundColor="#75CE66"}}
    {{/block.image}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jan 14</span>
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image backgroundColor="#AB0011"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jan 14</span>
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image backgroundColor="#AB0011"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jan 14</span>
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image backgroundColor="#AB0011"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jan 14</span>
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image backgroundColor="#AB0011"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jan 14</span>
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image backgroundColor="#AB0011"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jan 14</span>
    {{/block.content}}
  {{/timeline.block}}

  {{#timeline.block as |block|}}
    {{block.image backgroundColor="#AB0011"}}

    {{#block.content as |content|}}
      <h2>Title of section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="cd-read-more">Read more</a>
      <span class="cd-date">Jan 14</span>
    {{/block.content}}
  {{/timeline.block}}

{{/vertical-timeline}}
